@font-face {
    font-family: "Montserrat", sans-serif;
    src: url("../media/fonts/Montserrat-Regular.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: "Montserrat", sans-serif;
}
.noscroll {
    overflow: hidden;
    height: 100vh;
    
}
.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.preload * {
    transition: none !important;
}

.hidden {
    visibility: hidden;
}

a {
    color: #333333;
    text-decoration: none;
}

li {
    list-style: none;
}
.autocomplete-select__list {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    z-index: 100;
}
.autocomplete-select__list.show {
    display: block;
}
.autocomplete-select__title {
    padding: 5px 15px;
    background: #929292;
    color: #ffffff;
    text-align: left;
}
.autocomplete-select__item {
    display: flex;
    padding: 15px;
    color: #000481;
    text-align: left;
    cursor: pointer;
    font-weight: 500;
    background: #e4f5ff;
}
.autocomplete-select__item:not(.autocomplete-select__item_empty):hover {
    background: #000481;
    color: #ffffff;
}
.autocomplete-select__item:hover .airport-iata {
    color: #ffffff;
}
.autocomplete-select__item_empty {
    background: #ffffff;
    color: #333333;
    cursor: auto;
}
.autocomplete-select__item:not(:last-child) {
    border-bottom: 1px solid #000481;
}
.airport-iata {
    margin-left: auto;
    color: #929292;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
}

.btn {
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    padding: 15px;
    color: #ffffff;
    background: #00b9ff;
    transition: .25s ease-in-out;
    transition-property: background-color, border;
}

input[type=date]::-webkit-calendar-picker-indicator {
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

input[type=number] {
    appearance: none;
}

.btn:hover {
    background:#000481;
}

.btn_login {
    padding: 15px 25px;
}

.input {
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 1px solid #929292;
    padding: 0 15px 0 5px;
    width: 100%;
    font-size: 20px;
    height: 40px;
}

.text {
    font-size: 24px;
}

.col-1 {
    width: 100% !important;
}

.col-2 {
    width: 48%;
}

.col-3 {
    width: 33%;
}

.items-center {
    display: flex;
    align-items: center;
}
.params__name {
    color: black;
}
.param-cost{
    color: #0edc00;
}

.header {
    width: 100%;
    height: 80px;
    padding: 0 20px;
    border-bottom: 1px solid #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background: rgb(255, 255, 255);
}

.logo {
    display: flex;
}
.header-logo {
    flex-direction: column;
}
.logo__icon {
    height: 35px;
    margin-right: 15px;
}

.logo__text {
    color: #0080ee;
    font-size: 36px;
}

.logo__text_footer {
    transform: none;
}

.logo__text_marked {
    display: inline-block;
    transform: translateY(15px);
    color: #ffa700;
}

.nav_footer {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__list_footer {
    flex-grow: 1;
    justify-content: space-around;
}

.nav__item {
    margin: 0 10px;
}

.nav__item_footer {
    margin: 0 10px;
}

.nav__item.mobile {
    margin: 20px;
}

.nav__link {
    font-size: 22px;
    position: relative;
}

.nav__link_footer {
    font-size: 18px;
    color: #ffffff;
}

.nav-toggle {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    background: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-toggle__icon, .nav-toggle__icon::before, .nav-toggle__icon::after {
    position: relative;
    display: block;
    height: 2px;
    width: 80%;
    background: #000481;
    transition: .25s ease-in-out;
}

.nav-toggle__icon::before, .nav-toggle__icon::after {
    content: '';
    width: 100%;

}

.nav-toggle__icon::before {
    top: -8px;
}

.nav-toggle__icon::after {
    bottom: -6px
}

.nav-toggle.active .nav-toggle__icon {
    height: 0;
}

.nav-toggle.active .nav-toggle__icon::before {
    transform: rotate(45deg);
    top: 1px;
}

.nav-toggle.active .nav-toggle__icon::after {
    transform: rotate(-45deg);
    bottom: 1px;
}

.nav__item .nav__link:not(.btn)::before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    content: '';
    display: block;
    height: 2px;
    width: 0;
    margin: 0 auto;
    background: #000481;
    transition: .25s ease-in-out;
}

.nav__item .nav__link_footer:not(.btn)::before {
    background: #00c2ee;
}

.nav__item:hover .nav__link:not(.btn)::before {
    width: 100%;
}

.nav-mobile {
    display: none;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
    z-index: 5;
    transform: translateY(-100%);
}

.nav-mobile__list {
    background: #ffffff;
    height: calc(100vh - 81px);
}

.section {
    position: relative;
}


.section__title {
    font-size: 34px;
    margin-bottom: 25px;
}

.section__text {
    margin-bottom: 25px;
}

.banner-section {
    padding: 50px 0;
    height: 600px;
    background: url("../media/img/about-bg.jpg") no-repeat center;
    background-size: cover;
    color: #ffffff;
    z-index: 1;
}

.banner-section:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    opacity: .9;
    z-index: -1;
    background: rgba(0, 4, 129, .8);
}

.section-dark {
    background: #000481;
    color: #ffffff;
}
.section-dark.promotes {
    background: #0089ff;
}
.section-light {
    color: #000000;
}

.banner-section-container {
    text-align: center;
    padding: 0 40px;
}

.banner-section__title {
    font-size: 52px;
    margin-bottom: 20px;
}

.form, .accumulation {
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;

}

.form:not(.accumulation) {
    padding-top: 25px;
}

.user-form {
    flex-direction: column;
    align-items: center;
}

.booking-accumulate__date, .booking-accumulate__number, .booking-accumulate__cost, .booking-accumulate__probability {
    transition: .25s ease-in-out;
    color: #e40000;
}
.booking-accumulate__cost {
    color:#0edc00;
}
.accumulation:before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background: #000481;
}

.form__label {
    position: relative;
    margin-bottom: 15px;
}

.form_multi-col {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.form__computed {
    text-align: left;
}


.input:not(:placeholder-shown) + .input__name, .input:focus + .input__name {
    font-size: 16px;
    transform: translateY(-12px);

}

input:not(readonly):focus {
    border-color: #000481;
}

.input__name {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 0 5px;
    background: #ffffff;
    color: #929292;
    pointer-events: none;
    font-size: 20px;
    transform: translateY(10px);
    transition: .15s ease-in-out;
}

input:not(readonly):focus + .input__name {
    color: #000481;
}


.advantages-container {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 1180px;
}

.advantages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    margin-bottom: 30px;
    gap: 20px 30px;
    position: relative;
}
.advantages-smoke {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}
.advantages__card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15px 10px;
    background: rgba(255, 255, 255, .15);
    transform: perspective(500px) rotateY(20deg);
    transition: .25s linear;
    -webkit-box-reflect: below 10px linear-gradient(to top, #ffffff, #ffffff00 40%);
    cursor: pointer;
}

.advantages__card:hover {
    transform: perspective(500px) rotateY(0);
    box-shadow: 0 0 6px 4px white;
}

.advantages:hover .advantages-smoke:not(:hover) ~ .advantages__card:not(:hover) {
	opacity: 0.25;
}
.advantages__title {
    font-size: 26px;
    margin-bottom: 15px;
}

.advantages__text {
    font-size: 18px;
}

.advantages__icon {
    display: block;
    font-size: 50px;
    margin: 0 auto 15px;
}

.form-container {
    position: relative;
    margin: 40px auto;
    border: 2px solid #000481;
    border-radius: 5px;
}

.section__title_form {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    background: #ffffff;
}

.select {
    appearance: none;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

.select__label:before, .date__label:before, .email__label:before, .phone__label:before {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    font-family: 'Font Awesome 5 Free', serif;
    font-weight: 900;
    content: "\f078";
    font-size: 24px;
    pointer-events: none;
}

.email__label input, .number__label input, .phone__label input {
    padding-right: 50px;
}

.date__label:before {
    content: "\1F4C5";
}

.email__label:before {
    content: "\f0e0";
}

.phone__label:before {
    content: "\f3cd";
}

.range {
    padding: 0;
    cursor: pointer;
}

.range__list {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: -10px;
    padding: 0 5px;
    counter-reset: users-counter;
}

.range__list option:before {
    counter-increment: users-counter;
    content: counter(users-counter);
}

.center {
    margin: 0 auto;
}

.range__name {
    text-align: center;
    color: #929292;
}

.search {
    padding: 0 15px;
}

.search__btn {
    font-size: 24px;
}

.promotes__card {
    display: flex;
    color: #ffffff;
    background: #00000052;
    margin-bottom: 15px;
}

.promotes__img {
    min-width: 50%;
    height: 400px;
    object-fit: cover;
    transform-origin: center;
    transform: perspective(500px) rotateY(15deg) scale(.8);
    box-shadow: 0 0 5px 4px;
}

.promotes__info {
    margin: auto;
    text-align: left;
}

.promotes__title {
    font-size: 26px;
    margin-bottom: 15px;
}

.promotes__text {
    font-size: 22px;
    margin-bottom: 15px;
}

.promotes__btn {
    color: #000481;
    background: #ffffff;
}

.promotes__btn:hover {
    background: #ffbb00;
}
.promotes__container {
    padding: 30px 15px 0 0;
    overflow: hidden;
}

.footer {
    background: #212021;
    color: #ffffff;
}

.footer__header {
    margin-bottom: 20px;
}

.footer__header-container {
    min-width: 180px;
}

.footer-logo {
    margin-right: 15px;
    margin-bottom: 10px;
}

.logo__link_home {
    color: #00c2ee;
}

.phone {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.phone__icon {
    margin-right: 15px;
}

.account__title {
    font-size: 54px;
}

.account-info {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    padding-bottom: 15px;
    border-bottom: 2px solid #000481;
}

.account-info__group {
    display: flex;
    align-items: center;
}

.account-info__title {
    font-size: 38px;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 2px solid #0080ee;
}

.account-info__btn_logout {
    margin-left: auto;
    background: #ffffff;
    color: #000481;
    border: none;
    font-size: 34px;
    cursor: pointer;
    transition: .15s ease-in-out;
}

.account-info__btn_logout:hover {
    color: #0080ee;
}

.booking__title, .section__title {
    margin-bottom: 40px;
}

.search__id {
    position: absolute;
    border: none;
    border-bottom: 2px solid #000481;
    top: 0;
    left: 0;
    color: #000481;
    line-height: 20px;
    font-size: 20px;
    transform: translateY(-100%);
    padding: 4px 0;
}

.booking__card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    height: 100px;
}

.booking__card, .search__card {
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2), 0 6px 6px rgba(0, 0, 0, .23);
}

.booking-from, .booking-to {
    max-width: 50%;
}

.booking__br {
    display: none;
}

.booking-from:before, .booking-to:after {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 24px;
    background: #000481;
    color: #ffffff;
    height: 50px;
}

.booking-from:before {
    padding: 0 40px 0 20px;
    content: 'ВЫЛЕТ';
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
}

.booking-to:after {
    order: -1;
    right: 0;
    bottom: 0;
    padding: 0 20px 0 50px;
    content: 'ПРИЛЕТ';
    clip-path: polygon(30% 0, 100% 0, 100% 101%, 0 101%);
}

.booking-param {
    margin: 0 5px;
}

.booking-from, .booking-to {
    display: flex;
    flex-wrap: wrap;
    line-height: 50px;
    font-size: 30px;
}

.booking-from {
    color: #ffffff;
    background: #00c2ee;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
}

.booking-to {
    display: flex;
    flex-direction: row-reverse;
}

.booking-from__datetime, .booking-to__datetime {
    display: flex;
    width: 100%;
    font-size: 20px;
}

.booking-from__datetime {
    color: #ffffff;
}

.booking-to__datetime {
    justify-content: flex-end;
    order: -1;
}

.booking__airport_to {
    margin-top: auto;
    align-self: flex-end;
}

.search__info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}

.search__card {
    margin-bottom: 45px;
}

.search__item {
    text-align: left;
    width: 48%;
    margin: 10px 0 5px;
    padding-bottom: 5px;
    font-size: 18px;
}

.search__item_final-cost {
    margin: 25px auto 0;
    font-size: 24px;
    width: auto;
    min-width: 50%;
}

.search__item:not(.search__btn-container) {
    border-bottom: 1px solid #929292;
}

.search__btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking-btn {
    margin-bottom: 15px;
}

.search__btn_list {
    margin-top: 0;
    font-size: 20px;
}

.search__like {
    margin-right: 10px;
    font-size: 30px;
    color: #000481;
    cursor: pointer;
}

.search__favorite {
    display: none;
}

.search__favorite-icon:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    content: "\f004";
}

.search__favorite:checked + .search__favorite-icon:after {
    font-weight: 900;
}

.place {
    padding: 20px;
    background: #eaeaea;
}

.place__list {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.place__item {
    border: 2px solid #000481;
    overflow: hidden;
}
.place__list-row {
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    padding: 10px;
    border-right: 2px solid #000481;
}

.place-numbers__text {
    font-size: 20px;
}

.place__list:not(:last-child) {
    margin-bottom: 20px;
}

.place__check {
    display: none;
}

.place__check-indicator:before, .place-numbers__text {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}
.place__check-indicator:before {
    background: #000481;
    transform: scale(0);
    border-radius: 50%;
}
.place__check-indicator, .place__check-indicator:before {
    cursor: pointer;
}

.place-numbers__text {
    width: 39px;
    height: 39px;
    border: none;
}

.place__check:checked + .place__check-indicator:before {
    transition: .35s ease-in-out;
    transform: scale(2);
    color: #ffffff;
}

.search-list__tab {
    display: flex;
}

.tab__item {
    padding: 15px;
    border-bottom: 1px solid #929292;
    margin-bottom: 45px;
    font-size: 20px;
    cursor: pointer;
}

.tab__item.active {
    border-bottom: 2px solid #000481;
}

.booking-passengers__title {
    padding-top: 15px;
    margin-bottom: 0;
    font-size: 28px;
}

.booking-passengers__item {
    display: block;
}

.booking-passengers__item:not(:last-child) {
    margin-bottom: 15px;
}

.search__item.flight-header {
    border-bottom: none;
    display: flex;
}

.flight-header__text {
    display: inline-block;
    padding: 5px 25px 5px 5px;
    background: #000481;
    color: #ffffff;
    clip-path: polygon(0% 0%, 94% 0%, 100% 50%, 94% 100%, 0% 100%);
    font-size: 21px;
}

.flight-header__br {
    display: none;
}

.flight-header__text_to {
    padding: 5px 5px 5px 25px;
    margin-left: auto;
    clip-path: polygon(0% 50%, 6% 0%, 100% 0%, 100% 100%, 6% 100%);
}

.booking-passengers__card {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0 1px 6px rgba(0, 67, 140, .5);
    width: 100%;
    font-size: 20px;
    text-align: left;
}

.booking-passengers__card:not(:last-child) {
    margin-bottom: 20px;
}

.passenger-info_place {
    text-align: right;
}

.passenger-place__title {
    width: 100%;
    margin-bottom: 10px;
}

.passenger-place__number-val {
    padding: 5px;
    background: #000481;
    color: #ffffff;
}

.booking-passengers {
    padding: 15px;
}

.passenger-form {
    padding: 15px;
    box-shadow: 0 1px 6px rgba(0, 67, 140, .5);
}

.form.passenger-form__fieldset {
    padding: 25px 0;
    width: 100%;
    border: none;
    box-shadow: none;
    position: relative;
    border-bottom: 2px solid #000481;
}

.passenger-form__actions {
    display: flex;
    justify-content: center;
    position: relative;
}

.passenger-form__add {
    position: absolute;
    top: 0;
    right: 0;
}

.passenger-form__btn {
    margin-top: 0;
    font-size: 24px;
}

.passenger-form__delete {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(50%);
    background: #ff253a;
}
.passenger-form__delete:hover {
    background: #b90517;
}
@media screen and (max-width: 1180px) {
    .advantages {
        grid-template-columns: repeat(2, 1fr);
    }

    .advantages__card, .advantages__card:hover {
        transform: none;
        -webkit-box-reflect: unset;
        cursor: default;
    }

    .promotes__title {
        margin-bottom: 15px;
    }

    .promotes__text {
        font-size: 20px;
    }
}

@media screen and (max-width: 980px) {
    .form, .accumulation {
        width: 100%;
        max-width: 100vw;
    }

    .nav-toggle {
        display: flex;
    }

    .nav-mobile__list {
        padding: 10px;
    }

    .nav-mobile {
        display: block;
        border-top: 1px solid #000481;
        transition: .25s ease-in-out;
    }

    .nav-mobile.active {

        transform: translateY(0);
    }

    .nav__item:not(.mobile) {
        display: none;
    }

    .nav__item.nav__item_footer {
        display: block;

    }

    .nav__item_footer {
        margin: 0;
        width: 30%;
    }

    .banner-section {
        padding-top: 200px;
        padding-bottom: 150px;
    }

    .promotes__text {
        font-size: 19px;
    }

    .booking-from, .booking-to {
        max-width: 100%;
        flex-wrap: nowrap;
        clip-path: none;
    }

    .booking-to:after, .booking-from:before {
        font-size: 24px;
    }

    .booking-to:after {
        order: -1;
        bottom: 0;
    }

    .booking-from__datetime, .booking-to__datetime {
        width: auto;
    }

    .booking-to__datetime {
        order: 0;
    }

    .booking__card {
        flex-direction: column;
        height: auto;
    }

}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .promotes__container {
        padding: 10px 0;
    }

    .col-2 {
        width: 100%;
    }

    .logo__text {
        font-size: 28px;
    }

    .nav__list_footer {
        flex-wrap: wrap;
    }

    .nav__item_footer {
        width: 30%;
        margin: 7px 0;
    }

    .section__title {
        font-size: 28px;
    }

    .banner-section {
        padding-top: 150px;
        padding-bottom: 100px;
    }

    .banner-section-container {
        padding: 0 15px;
    }

    .banner-section__title {
        font-size: 34px;
    }

    .accumulation:before {
        display: none;
    }

    .form__computed:first-of-type {
        padding-top: 10px;
        border-top: 2px solid #000481;
    }

    .form__computed {
        order: 2;
    }

    .promotes__card {
        flex-direction: column;
        padding: 20px;
    }

    .promotes__img {
        height: 150px;
        margin-bottom: 45px;
        transform: none;
    }

    .promotes__img, .promotes__info {
        width: 100%;
    }

    .promotes__title {
        font-size: 24px;
    }

    .promotes__text {
        font-size: 18px;
    }

    .account-info__group {
        flex-direction: column;
    }

    .account-info__title {
        margin-right: auto;
        font-size: 28px;
        border: none;
    }

    .booking-from__airport, .booking-to__airport {
        font-size: 26px;
    }

    .booking-from__datetime, .booking-to__datetime {
        font-size: 19px;
    }

    .booking-to:after, .booking-from:before {
        font-size: 18px;
    }

    .booking-from:before {
        padding: 0 15px 0 5px;
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%)
    }

    .booking-to:after {
        padding: 0 5px 0 15px;
        clip-path: polygon(15% 0, 100% 0, 100% 101%, 0 101%)
    }

    .place {
        display: flex;
        justify-content: space-between;
    }

    .place__list, .place-numbers {
        flex-direction: column;
    }

    .place__list-row {
        border: none;
        border-bottom: 2px solid #000481;
    }

    .place__list:not(:last-child) {
        margin-bottom: 0;
    }

    .place__list-row {
        margin-bottom: 20px;
    }

    .place__list-row.hidden {
        height: auto;
    }

    .place__item {
        margin-bottom: 15px;
    }

    .passenger-form__add, .passenger-form__remove {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 630px) {
    .advantages {
        grid-template-columns: 1fr;
    }

    .search__info {
        flex-direction: column;
    }

    .search__item {
        width: 100%;
    }

    .passenger-place {
        flex-wrap: nowrap;
        align-items: center;
    }

    .passenger-place__title {
        width: auto;
        order: 1;
    }

    .passenger-place__back {
        order: 2;
    }

    .passenger-form__actions {
        flex-direction: column;
        align-items: center;
    }

    .passenger-form__add {
        order: -1;
        position: static;
        margin-bottom: 10px;
    }

    .booking__br {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .header {
        padding: 0 10px;
    }

    .logo__icon {
        height: 25px;
    }

    .form-container {
        padding: 30px 15px;
    }

    .form__computed .text {
        font-size: 20px;
    }

    .form_multi-col {
        gap: 10px;
    }

    .footer__header {
        flex-direction: column;
    }

    .footer__header-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .phone__icon {
        margin-right: 5px;
    }

    .footer-logo {
        margin-bottom: 0;
        margin-right: 5px;
    }

    .account-info__counter {
        font-size: 18px;
    }

    .account-info__title {
        font-size: 24px;
    }

    .booking-from, .booking-to {
        flex-wrap: wrap;
    }

    .booking-from {
        justify-content: flex-end;
        padding-right: 15px;
    }

    .booking-from:before {
        margin-right: auto;
    }

    .booking-to {
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 15px;
    }

    .booking-to:after {
        margin-left: auto;
        order: 0;

    }

    .booking-from__airport {
        text-align: right;
    }

    .booking-to__airport {
        text-align: left;
    }

    .booking-from__datetime, .booking-to__datetime {
        width: 100%;
    }

    .booking-from__datetime {
        justify-content: flex-end;
    }

    .booking-to__datetime {
        justify-content: flex-start;
        order: -1;
    }

    .booking-passengers__card {
        padding: 10px;
        flex-direction: column;
    }

    .passenger-info_place {
        text-align: left;
    }

    .booking-passengers__item:not(:last-child) {
        margin-bottom: 5px;
    }

    .booking-passengers__item_number {
        display: inline-block;
    }

    .passenger-place__title {
        margin: 10px 0 5px;
    }

    .passenger-place {
        flex-wrap: wrap;
    }

    .passenger-place > * {
        order: 0;
    }

    .passenger-place__title {
        width: 100%;
    }

    .passenger-place__number {
        font-size: 18px;
    }

    .flight-header__text {
        font-size: 18px;
    }

    .flight-header__text_to {
        text-align: right;
    }

    .flight-header__br {
        display: block;
    }

    .booking__title {
        margin-bottom: 60px;
    }

    .search__id {
        padding: 4px 10px;
    }

    .search__item_final-cost {
        font-size: 21px;
    }
}

@media screen and (max-width: 350px) {
    .booking-passengers__card {
        font-size: 18px;
    }
}